<div class="--flex --flex-column">
  <div class="contImg">
    <app-thumbnail [url]="image.thumbUrl"></app-thumbnail>
    <!-- <div class="downloadIcon --pointer"></div> -->
  </div>
  <div class="options --flex --justify-content-between --align-items-center">

    <ng-container *ngIf="image.author.link; else elseTemplate">
      <a class="link" [href]="image.author.link" target="_blank">{{image.author.name}}</a>
    </ng-container>
    <ng-template #elseTemplate>
      <p class="link">{{image.author.name}}</p>
    </ng-template>

    <app-button (btnClick)="emitCardInfo(image)" text="Add Favorites"></app-button>
  </div>
</div>
