h2{
  margin-bottom: 10px;
}

.listContainer{
  overflow: auto;
  max-height: 200px;
}

label{
  margin-left: 10px;
}

.options{
  display: flex;
}

app-button:first-child{
  margin-left: auto;
  margin-right: 10px;
}
