img{
  width: 100%;
  height: 100%;
  display: block;
}

.errorImage{
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 80%;
  background: var(--loading-image-color);

  &::before{
    top: 36%;
    left: 50%;
    color: var(--black);
    margin-left: -58px;
    position: absolute;
    content: "Error loading Image";
  }
}
