<div class="container">

  <div class="containerList" *ngFor="let item of favorites">
    <div class="contTitle --flex --justify-content-between">
      <h2>{{item[0]}}</h2>
      <app-button text="Edit"></app-button>
    </div>
    <p class="description">{{ item[1].description }}</p>
    <div class="contImgs --flex --wrap">
      <app-download-card  *ngFor="let image of item[1].images"
        [url]="image.thumbUrl"
        [downloadUrl]="image.downloadUrl">
      </app-download-card>
    </div>
  </div>

</div>
