<div class="container">
  <app-search-bar #searchBar></app-search-bar>

  <div class="containerImgCards --flex --wrap">
    <ng-container *ngIf="images.length; else elseTemplate">
      <app-img-card *ngFor="let image of images" [image]="image" (imageEmitter)="saveFavorite($event)"></app-img-card>
    </ng-container>

    <ng-template #elseTemplate>
        There are no images yet
    </ng-template>

    <app-modal-new-favorite *ngIf="showNewFavorite"></app-modal-new-favorite>
    <app-modal-favorites-list *ngIf="showFavoriteList" [selectedImage]="selectedImage"></app-modal-favorites-list>
</div>
