<app-modal title="New Favorites" (closeModal)="closeModal()">

  <form (ngSubmit)="onSubmit(newFavorite, nombre, description)" #newFavorite="ngForm">
    <div class="--flex">
      <h3>Name</h3> <input type="text" name="nombre" ngModel required #nombre="ngModel">
    </div>
    <div class="--flex">
      <h3>Description</h3> <input type="text" name="description" ngModel required #description="ngModel">
    </div>
    <app-button *ngIf="newFavorite.form.valid" type="submit" text="Save"></app-button>
  </form>

</app-modal>
