div{
  margin-bottom: 10px;
}

h3{
  width: 40%;
  margin-bottom: 10px;
}

input{
  outline: none;
}

input.ng-invalid:not(.ng-pristine){
  border: 1px solid var(--warning-color);
}

app-button{
  width: 46px;
  display: block;
  margin-left: auto;
}
