/* You can add global styles to this file, and also import other style files */
:root{
  --Archetika-1-hex: #1E2436;
  --Archetika-2-hex: #FAFAFA;
  --Archetika-3-hex: #b2e1f5;
  --Archetika-4-hex: #0070ba;
  --Archetika-5-hex: #e2eff7;
  --Archetika-6-hex: #c7e2f3;

  --white: var(--Archetika-2-hex);
  --black: var(--Archetika-1-hex);
  --text-color: var(--Archetika-1-hex);
  --background-color: var(--Archetika-5-hex);
  --link-color: var(--Archetika-4-hex);
  --link-color-hover: var(--Archetika-3-hex);
  --background-color-hover: var(--Archetika-3-hex);
  --background-button: var(--Archetika-4-hex);
  --background-button-hover: var(--Archetika-3-hex);
  --border-color: var(--Archetika-6-hex);

  --menu-active-color: var(--Archetika-5-hex);

  --text-size: 14px;
  --title-size: 16px;

  --container-width: 80%;

  --cards-per-line: 4;

  --z-index-modal: 99999;
  --content-modal-width: 400px;
  --background-modal-color: rgba(30, 36, 54, 0.5);
}

p, h1, h2, h3{
  margin: 0px;
  font-size: var(--text-size);
}

body{
  margin: 0px;
  padding: 0px;
  color: var(--black);
  font-size: var(--text-size);
  background: var(--Archetika-5-hex);
}

h2{
  font-size: var(--title-size)
}

.--pointer{
  cursor: pointer;
}

.--flex{
  display: flex;
}

.--alignCenter{
  align-items: center;
}

.--wrap{
  flex-wrap: wrap;
}

.--flex-column{
  flex-direction: column;
}

.--justify-content-between{
  justify-content: space-between;
}

.--align-items-center{
  align-items: center;
}

.--clear-button{
  border: none;
  outline: none;
  background: transparent;
}

.container{
  margin: 0 auto;
  display: block;
  width: var(--container-width);
}
