.container{
  height: 100%;
}

.contMenu{
  height: 100%;
  height: 40px;
  background: var(--white);
}

button{
  width: 100px;
  height: 100%;
  cursor: pointer;
  box-sizing: border-box;
  font-size: var(--title-size);
}

.active{
  border-bottom: 2px solid var(--border-color);
  background-color: var(--menu-active-color);
}
